<div class="pepe">
  <div class="login-wrap">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form">
        <input type="text" placeholder="Usuario" formControlName="email" required/>
        <input type="password" placeholder="Contraseña" require formControlName="password" required/>
        <button type="submit"> Iniciar sesion </button>
        <a [routerLink]="['/register']"> <p> Aún no tienes cuenta? Registrate </p></a>
      </div>
    </form>
  </div>
</div>